
@font-face {
    font-family:"GTPressura-Bold";
    src:url("GT-Pressura-Bold.woff2") format("woff2"),url("GT-Pressura-Bold.woff") format("woff"),url("GT-Pressura-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        