@font-face {
    font-family: 'Berthold Akzidenz-Grotesk';
    src: url('AkzidenzGroteskBE-Light.woff2') format('woff2'),
        url('AkzidenzGroteskBE-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

