html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

em {
  font-style: italic; }

*, :after, :before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'akzidenz-grotesk-reg';
  src: url("../src/assets/fonts/akzidenz_grotesk_regular/berthold_akzidenz_grotesk_be_regular-webfont.woff2") format("woff2"), url("../src/assets/fonts/akzidenz_grotesk_regular/berthold_akzidenz_grotesk_be_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'akzidenz-grotesk-light';
  src: url("../src/assets/fonts/akzidenz_grotesk_light/AkzidenzGroteskBE-Light.woff2") format("woff2"), url("../src/assets/fonts/akzidenz_grotesk_light/AkzidenzGroteskBE-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'knewave';
  src: url("../src/assets/fonts/knewave/knewave-regular-webfont.woff2") format("woff2"), url("../src/assets/fonts/knewave/knewave-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'glacial_indifferencebold';
  src: url("../src/assets/fonts/glacial-indifference/glacialindifference-bold-webfont.woff2") format("woff2"), url("../src/assets/fonts/glacial-indifference/glacialindifference-bold-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'glacial_indifferenceregular';
  src: url("../src/assets/fonts/glacial-indifference/glacialindifference-regular-webfont.woff2") format("woff2"), url("../src/assets/fonts/glacial-indifference/glacialindifference-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'glacial_indifferenceitalic';
  src: url("../src/assets/fonts/glacial-indifference/glacialindifference-italic-webfont.woff2") format("woff2"), url("../src/assets/fonts/glacial-indifference/glacialindifference-italic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.hero__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.hero__info-box {
  top: calc(50% - 1px);
  position: relative;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 500px;
  text-align: center; }
  .hero__info-box h1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center; }
  .hero__info-box .tagline {
    font-size: 14px;
    line-height: 1.8em;
    padding: 10px 0px;
    text-align: center; }

.hero .logo {
  display: block;
  background: url(../assets/img/hr-logo.png) center no-repeat;
  width: 112px;
  height: 83px;
  margin: 0 auto;
  margin-bottom: 25px; }

.hero--index {
  display: block;
  top: 70px;
  width: 100%;
  height: 400px;
  /* Rectangle 5: */
  background-image: -webkit-linear-gradient(right, #FC6767 0%, #EC008C 100%);
  background-image: -o-linear-gradient(right, #FC6767 0%, #EC008C 100%);
  background-image: linear-gradient(to left, #FC6767 0%, #EC008C 100%);
  overflow: hidden;
  padding: 0; }
  .hero--index h1 {
    font-size: 48px;
    font-family: "knewave"; }
  .hero--index .pathCenter {
    text-align: center; }

.tabs-block {
  position: relative;
  overflow: hidden;
  padding-bottom: 96px;
  z-index: 1; }
  .tabs-block--projects {
    /* this is just an example of element styling to copy */
    /* Styling Container for Masonry Grid */
    /* Style the tabs */ }
    .tabs-block--projects .tabs-block__container {
      max-width: 1120px;
      margin: 0 auto;
      clear: both;
      /* Style the tab content */ }
      .tabs-block--projects .tabs-block__container .tabcontent {
        display: none; }
    .tabs-block--projects .tabs-block__tab {
      overflow: hidden; }
      .tabs-block--projects .tabs-block__tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 20px;
        transition: 0.3s;
        font-size: 16px; }
        .tabs-block--projects .tabs-block__tab button:hover {
          color: #CFCFCF; }
        .tabs-block--projects .tabs-block__tab button:focus {
          color: #EC008C; }
    .tabs-block--projects .portfolioFilter {
      margin: 60px auto;
      width: auto;
      text-align: center; }
      .tabs-block--projects .portfolioFilter .active {
        color: #EC008C; }

/* The Masonry Container */
.masonry {
  margin: 0 auto;
  max-width: 100%;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

/* The Masonry Brick */
.masonry .item {
  margin: 0 0 30px 0;
  color: black; }

.masonry div.item img {
  width: 100%;
  vertical-align: bottom;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3; } }

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3; } }

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2; } }

a.bttn {
  color: #FF0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all; }
  a.bttn:hover {
    color: #FFF; }
  a.bttn:focus {
    color: #FFF; }

.spacer--sm {
  width: 25px;
  display: inline-block; }

.bttn {
  font-size: 13px;
  letter-spacing: 0.08em;
  display: inline-block;
  text-align: center;
  width: 180px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid #FF0072;
  border-radius: 0px;
  position: relative; }
  .bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -2; }
  .bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }
  .bttn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }

.projects--web .projects__item img {
  max-width: 73%; }

.grid {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  width: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 60px 20px 0;
  width: calc(100% - 40px); }
  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; } }
  .grid__item {
    position: relative;
    overflow: hidden;
    margin: 1rem; }
    @media screen and (min-width: 600px) {
      .grid__item {
        width: 50%; } }
    @media screen and (min-width: 1000px) {
      .grid__item {
        width: calc(100% / 3); } }
    @media screen and (min-width: 600px) {
      .grid__item {
        width: calc(50% - 2rem); } }
    @media screen and (min-width: 1000px) {
      .grid__item {
        width: calc(33.3333% - 2rem); } }
    .grid__item img {
      display: block; }
  .grid--projects figure:hover figcaption {
    background: rgba(236, 0, 140, 0.75); }
  .grid--projects figure:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); }
  .grid--projects figure img {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .grid--projects figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: table; }
    .grid--projects figure figcaption:hover div {
      opacity: 1;
      top: 0;
      -webkit-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
    .grid--projects figure figcaption:hover div:after {
      width: 50%; }
    .grid--projects figure figcaption div {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      top: 20px;
      opacity: 0;
      color: #fff;
      text-transform: uppercase; }
      .grid--projects figure figcaption div:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 40%;
        text-align: center;
        margin: auto;
        width: 0%;
        height: 2px;
        background: #fff; }

/* Box-sizing reset: http://w3bits.com/?p=3225 */
body {
  background: #F7F7F7;
  color: #1c1b20;
  font-family: "glacial_indifferenceregular", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: .1em;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden; }

.bg-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -10;
  pointer-events: none; }
  .bg-global__line {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 16.666%;
    width: 1px;
    background: #000;
    opacity: 0.075;
    transition: 0.3s 0.5s; }
    .bg-global__line:before {
      content: "";
      position: absolute;
      top: 0;
      left: -16.6666vw;
      width: 0;
      background: #000;
      height: 100%;
      transition: 0.5s cubic-bezier(0.81, 0.23, 0.05, 1); }
    .bg-global__line:nth-of-type(2) {
      left: 33.3333%; }
    .bg-global__line:nth-of-type(3) {
      left: 50%; }
    .bg-global__line:nth-of-type(4) {
      left: 66.666%; }
    .bg-global__line:nth-of-type(5) {
      left: 83.33%; }
    .bg-global__line:nth-of-type(6) {
      left: 100%; }

.responsive-image {
  max-width: 100%; }
