
/* ----------- padding ------------- */

.pd-top-25 { padding-top: 2.5rem; }  /* 25px */
.pd-bottom-25 { padding-bottom: 2.5rem; }
.pd-top-50 { padding-top: 5rem; } /* 50px */
.pd-bottom-50 { padding-bottom: 5rem; }
.pd-top-75 { padding-top: 7.5rem; } /* 75px */
.pd-bottom-75 { padding-bottom: 7.5rem; }
.pd-top-100 { padding-top: 10rem; } /* 100px */
.pd-bottom-100 { padding-bottom: 10rem; }
.pd-top-125 { padding-top: 12.5rem; } /* 125px */
.pd-bottom-125 { padding-bottom: 12.5rem; }
.pd-top-150 { padding-top: 15rem; } /* 150px */
.pd-bottom-150 { padding-bottom: 15rem; }
.pd-top-175 { padding-top: 17.5rem; } /* 150px */
.pd-bottom-175 { padding-bottom: 17.5rem; }
.pd-top-200 { padding-top: 20rem; } /* 200px */
.pd-bottom-200 { padding-bottom: 20rem; }
.pd-top-225 { padding-top: 22.5rem; }
.pd-bottom-225 { padding-bottom: 22.5rem; }
.pd-top-250 { padding-top: 25rem; }
.pd-bottom-250 { padding-bottom: 25rem; }
.pd-top-275 { padding-top: 27.5rem; }
.pd-bottom-275 { padding-bottom: 27.5rem; }
.pd-top-300 { padding-top: 30rem; }
.pd-bottom-300 { padding-bottom: 30rem; }

/* ------------ colors ------------ */

.color--white { color: $white; }
.color--black { color: $black; }
.color--grey { color: $grey; }
.color--peaches { color: $peaches; }

.color--hell { color: $hellbound; }
.color--hellish { color: $hellish; }
.color--heaven { color: $heaven; }
.color--blackmoon { color: $blackmoon; }
.color--snuff { color: $snuff; }
.color--doldrums { color: $doldrums; }
.color--souleternal { color: $souleternal; }
.color--covenant { color: $covenant; }
.color--weirdblue { color: $weirdblue; }
.color--baked { color: $baked; }
.color--whitesmoke { color: $whitesmoke; }
.color--slate { color: $slate; }

.bg--white { background-color: $white; }
.bg--black { background-color: $black; }
.bg--dark { background-color: $black4; }
.bg--grey { background-color: $grey; }

.bg--heaven { background-color: $heaven; }
.bg--hell { background-color: $hellbound; }
.bg--blackmoon { background-color: $blackmoon; }
.bg--snuff { background-color: $snuff; }
.bg--doldrums { background-color: $doldrums; }
.bg--souleternal { background-color: $souleternal; }
.bg--covenant { background-color: $covenant; }
.bg--weirdblue { background-color: $weirdblue; }
.bg--baked { background-color: $baked; }
.bg--hellish { background-color: $hellish; }
.bg--whitesmoke { background-color: $whitesmoke; }
.bg--slate { background-color: $slate; }

/* ---------- typography ----------- */

a:active, a:hover, a:focus { outline: 0; }

.align--center { text-align: center; }
.align--left { text-align: left; }
.align--right { text-align: right; }

h3, h4, h5, h6 {

	font-family: $heeboReg;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
    text-shadow: none;

}

h1 {

	font-family: $superDisplayBold;
	// font-size: 8.7rem;
	// line-height: 9.6rem;
	font-size: 7.7rem;
	line-height: 8.6rem;
	margin: 0 auto;
	text-align: center;
	text-shadow: none;

	@media screen and (max-width: 767px) {
	    font-size: 4.2rem;
	    line-height: 1.2;	
	}
	
}

h2 {

	// font-family: $superDisplayBold;
	font-family: $sectra;
	letter-spacing: 0.02rem;
    font-size: 5rem;
    line-height: 1;
    text-shadow: none;
    font-weight: 500;
    font-style: normal;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-top: -1.1rem;

	@media screen and (max-width: 767px) {
		font-size: 3rem;
		line-height: 1.4;
	}

}

h3 {

	// font-family: $heeboMed;
	// line-height: 1;
	// text-transform: uppercase;
	// font-size: .6428571429rem;
 //    letter-spacing: .37em;

    font-family: $gilroyBold;
    // font-weight: 700;
    font-style: normal;
    // font-size: .6428571429rem;
    font-size: 0.9rem;
    letter-spacing: .37em;
    line-height: 1;
    text-transform: uppercase;

    span {
    	margin-left: 12px;
    }

	@media screen and (max-width: 767px) {
		line-height: 2;
	}

}

.paragraph {

	$self: &;

	// font-size: 1.6rem;
	// line-height: 2.8rem;
	// letter-spacing: 0.04rem;

	&--primary {
		font-family: $heeboLight;
	    font-weight: 300;
	    font-style: normal;
	    font-size: 1.8rem;
	    line-height: 2;
	}

    &--secondary {
    	font-family: $heeboLight;
		padding-top: 2.5rem;
		font-weight: 300;
		font-style: normal;
		font-size: 1.68rem;
		line-height: 2;
    }

}

.ul {

	list-style: none;

	$self: &;

	&--case-role-categories {
		font-family: $heeboLight;
		font-style: normal;
		font-size: 1.8rem;
		line-height: 1.8;	
	}
}


.noisy {

	background-clip: text;
	-webkit-background-clip: text;
	background-image: url("/assets/img/utility/textures/noisey-as-fuckkkk.gif");
	-webkit-text-stroke: none;
	display: inline-block;

	$self: &;

	&--black { color: rgba(23,23,23,0.8); }

	&--white { color: rgba(255,255,255,0.9); }

	// &--peaches { color: rgba(247,240,233,0.9); }

}

.outlined {

	$self: &;

	color: transparent;
	display: inline-block;
	padding-left: 0.8rem;

	&--black {

		-webkit-text-stroke: 1px $black4;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: rgb(31, 31, 31);

	}

	&--white {

		-webkit-text-stroke: 1px $white;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: rgb(255, 255, 255);

	}

	&--peaches {

		-webkit-text-stroke: 1px $peaches;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: rgb(247, 240, 233);

	}

}


















