$helvetica : Helvetica, Arial, sans-serif;
$heeboThin: 'heeboThin', sans-serif;
$heeboLight: 'heeboLight', sans-serif;
$heeboReg: 'heeboReg', sans-serif;
$heeboMed: 'heeboMed', sans-serif;
$heeboBold: 'heeboBold', sans-serif;
$heeboBlack: 'heeboBlack', sans-serif;
$superDisplayBold: 'superDisplayBold', serif;
$superDisplayLight: 'superDisplayLight', serif;
$gilroyBold: 'gilroyBold',sans-serif;
$gilroyMed: 'gilroyMed',sans-serif;
$sectra: 'sectra', serif;

// Define your fonts here. Make sure font families are linked.

// Use these more generic aliases in case the font gets changed.
$body: $helvetica;
$display: $helvetica;

@font-face {
    font-family: 'heeboReg';
    src: url('../assets/fonts/heebo/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heeboMed';
    src: url('../assets/fonts/heebo/Heebo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heeboBold';
    src: url('../assets/fonts/heebo/Heebo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heeboBlack';
    src: url('../assets/fonts/heebo/Heebo-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heeboLight';
    src: url('../assets/fonts/heebo/Heebo-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heeboThin';
    src: url('../assets/fonts/heebo/Heebo-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'superDisplayBold';
    src: url('../assets/fonts/super-display/GT-Super-Display-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'superDisplayLight';
    src: url('../assets/fonts/super-display/GT-Super-Display-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroyBold';
    src: url('../assets/fonts/gilroy/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroyMed';
    src: url('../assets/fonts/gilroy/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'sectra';
    src: url('../assets/fonts/sectra/GTSectraDisplay-Medium.woff2') format('woff2');
}




