.hero {

	$self: &;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__arrow {

	    display: block;
	    position: absolute;
	    bottom: -25px;
	    z-index: 10;
	    border: 1px solid #888888;
	    padding: 12px 18px;
	    border-radius: 5px;

	}

	&__intro {

		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.intro__title { color: $black; }

		.intro__subtitle {


			font-size: 25px;
			line-height: 40px;
			letter-spacing: 0;
			color: #888;
			text-align: center;
			max-width: 650px;
			margin: 30px auto 50px;

		}

	}

	&--homepage {

		position: relative;
		width: 100%;
		min-height: 100vh;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.section__intro {
			margin-bottom: 25px;
		}

	    #{$self}__img-bg {

			text-align: center;
			opacity: 0.6;
			height: 100%;
			width: 100%;
			z-index: 0;

    		img {
    			width: 100%;
    			max-width: 700px;
    		}
	    }

	}

}