.tabs-block {
	$self: &;
	position: relative;
	overflow: hidden;
	padding-bottom: 96px;
	z-index: 1;

	&--projects {
		/* this is just an example of element styling to copy */
		#{$self}__item {

		}

		/* Styling Container for Masonry Grid */
		#{$self}__container {
			max-width: 1120px;
			// max-width: 960px;
			// max-width: 1100px;
			margin: 0 auto;
			clear: both;

			/* Style the tab content */
			.tabcontent {
			    display: none;
			}
		}

		/* Style the tabs */
		#{$self}__tab {

			overflow: hidden;

			button {
				background-color: inherit;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 15px 20px;
				transition: 0.3s;
				font-size: 16px;
				// font-size: 15px;

				&:hover {
				    // color: #EC008C;
				    color: #CFCFCF;
				}

				&:focus {
				    color: #EC008C;	
				}
			}

			// .active {
			// 	// font-weight: bold;
			// 	color: #EC008C;	
			// }
		}

		.portfolioFilter {
		    margin: 60px auto;
		    width: auto;
		    text-align: center;

		    .active {
				// font-weight: bold;
				color: #EC008C;	
			}
		}
	}
}

// .active {
// 	// font-weight: bold;
// 	color: #EC008C;	
// }



/* The Masonry Container */
.masonry {
  margin: 0 auto;
  // max-width: 980px;
  max-width: 100%;
  // column-gap: 1.5em;
  // column-fill: initial;

  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;

  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* The Masonry Brick */
.masonry .item {
  // background: #fff;
  // padding: 1em;
  margin: 0 0 30px 0;
  color: black;
}

.masonry div.item img {
  // width: 300px;
  // max-width: 100%;
  width: 100%;
  vertical-align: bottom;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}





$primary:#FF0072;
$second:#644cad;
a.bttn {
  color: #FF0072;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}

.spacer--sm {
	width: 25px;
	display: inline-block;
}

.bttn {
  font-size:13px;
  letter-spacing: 0.08em;
  // text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:180px;
  font-weight:bold;
  padding:5px;
  // margin: 25px 0px;
  border:3px solid #FF0072;
  border-radius:0px;
  position:relative;
  // box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:$primary;
    z-index:-2;
  }
  &:hover {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
  &:focus {
    &:before {
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
}