
/* ------------ global ------------- */

:root {

	font-size: 62.5%; // basically this is easiest way to make font 100% split by 16px

	body, html {

		box-sizing: border-box;
		min-height: 100%;
		-webkit-font-smoothing: antialiased;
		width: 100%;

	}

	html {

		line-height: 1.15;
		-ms-overflow-style: scrollbar;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;
		-webkit-text-size-adjust: 100%;

	}

	body {

		$self: &;

		color: $black4;
		display: block;
		font-family: $heeboReg;
		font-size: 1.6rem; // body font size 16px
		font-weight: normal;
		height: 100%;
		line-height: 1.5;
		margin: 0;
		overflow-x: hidden;
		width: 100%;

		&:after {

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-image: url("/assets/img/utility/textures/noisey-as-fuckkkk.gif");
			opacity: 0.04;
			z-index: 10;
			pointer-events: none;

		}

	}

}

/* ------------- grid -------------- */

.section {

    $self: &;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    &--case-title {

		display: block;
		position: relative;
		// padding-top: 230px;
		// padding-bottom: 230px;

		.big-ass-number {

			// position: absolute;

			// left: 10%;
			text-align: center;
			margin: 0 auto;
			display: block;
			// margin-bottom: -20rem;
			font-size: 20rem;
			line-height: 1;
			color: rgba(0, 0, 0, 0.05);
			font-family: $superDisplayBold;
		    // position: absolute;
		    // margin-left: -230px;
		    // top: 155px;
		    // font-size: 400px;
		    // line-height: 400px;
		    // color: rgba(0, 0, 0, 0.05);
		    // font-family: $superDisplayBold;



		    display: none;
		}

		.complementary-infos {
		    position: absolute;
		    width: 280px;
		    margin: 0 10px;
		    float: left;
		    margin-left: 790px;
		    top: 50%;
		    transform: translateY(-50%);
		}

    }

    &--case-mini-headline {

    }

    &--case-hero-image {

  		img {
			width: 100%;
	  		max-width: 1180px;
			margin: 0 auto;
  		}

  //   	@media screen and (min-width: 47.99em) {
  //   		height: 500px;
  //   	}

		// @media screen and (min-width: 50.9275em) {
		// 	height: 695px;
		// }

		// @media screen and (min-width: 91.24em) {
		// 	height: 840px;
		// }

	}

    &--case-simple-text {

		h3 {

			span {
				margin-left: 0;
				margin-right: 12px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 2.5rem;
			}
		}
		
    }

    &--case-media {

    	img {

			position: relative;
			max-width: 100%;
			z-index: 200;

    	}

    }

    &--slate-before {

    	&:before {

			position: absolute;
			top: 0;
			left: 0;
			height: 125px;
			width: 100%;
			z-index: 0;
			content: "";
			background-color: $slate;

    	}

    }

    &--slate-after {

    	&:after {

			position: absolute;
			bottom: 0;
			left: 0;
			height: 125px;
			width: 100%;
			z-index: 0;
			content: "";
			background-color: $slate;

    	}

    }

    &--whitesmoke-after {

    	&:after {

			position: absolute;
			bottom: 0;
			left: 0;
			height: 125px;
			width: 100%;
			z-index: 0;
			content: "";
			background-color: $whitesmoke;

    	}

    }

    &__container {

		position: relative;
		width: 100%;
		margin-right: auto;
		margin-left: auto;

		&--1024 {
			max-width: 1024px;
		}

		&--1200 {
			// max-width: 1200px;
			max-width: 1180px;
		}

		#{$self}--case-media & {
			z-index: 100;
		}

		@media screen and (max-width: 50.9275em) {
			padding-right: 3rem;
			padding-left: 3rem;
		}

		@media screen and (min-width: 50.9275em) and (max-width: 64.365em) {
			padding-right: 5rem;
			padding-left: 5rem;
		}

    }

    &__row {

    	$self: &;

		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    flex-direction: column;
		width: 100%;

		@media screen and (min-width: 767px) {

			flex-direction: row;

		}

	    .col-6 {

	    	@media screen and (min-width: 48em) {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-grow: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
				justify-content: space-between;
	    	}

			@media (min-width: 50.9375em) {
			    -webkit-flex-direction: column;
			    -ms-flex-direction: column;
			    flex-direction: column;
			}

	   //      width: 48%;
	   //      max-width: 48%;
	   //      flex: 0 0 auto;
	   //      flex-basis: 48%;

	   //      @media screen and (max-width: 767px) {
	   //         width: 100%;
	   //         max-width: 100%;
	   //      }

	    	&:nth-of-type(2) {
				
				// margin-left: auto;
				max-width: 580px;
	
	    	}

	    }

	    &--case-title {

			max-width: 580px;
			margin-left: auto;
			padding-top: 230px;

	    }

	    &--case-metas {

			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;

			h3 span {
				margin-left: 0px;
			}

			.case-client {

				-webkit-flex-grow: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;

			}

			.case-role {

				width: 100%;
				max-width: 580px;

				display: flex;
				max-width: 100%;
				margin: 0 auto;
				justify-content: center;

    			h3 {

					margin: 7.5rem 3rem 0rem 3rem;
					font-size: 1rem;
					letter-spacing: 0.28rem;

    			}

				@media screen and (max-width: 767px) {
					h3 {
						margin-top: 1.5rem;
					}
				}

			}

			span {

				margin-right: 0.1rem;

				@media screen and (max-width: 767px) {
					display: block;
				}

			}

			@media screen and (max-width: 767px) {
				margin-top: 6rem;
			}

	    }

    }

    &--full-screen-image {

		img {

			position: relative;
			width: auto;
			max-width: 100%;
			display: block;
			overflow: hidden;
	    	z-index: 100;

		}
    
    }

    &--images-middle-aligned {

		justify-content: center;
		align-items: center;

		.section__row {
			align-items: center;
			text-align: center;
		}

		img {
			width: 48%;
			height: 100%;
			position: relative;
			z-index: 100;
			// -webkit-box-shadow: 0 2px 7px rgba(145,145,145,.35);
			// box-shadow: 0 2px 7px rgba(145,145,145,.35);
		}

		.left {
			margin-right: 2%;
		}

		.right {
			margin-left: 2%;
		}
    
    }

    &--images-end-aligned {

    	.row {
    		justify-content: center;
    		align-items: flex-end;
    		// @media screen and (min-width: 480px) {
    		// 	min-height: 1200px;
    		// }
    	}

    	h3 { 

    		margin-bottom: 2.5rem;

    	}

		img {

			height: 100%;
		    width: 100%;
		    max-width: 46%;
			position: relative;
			z-index: 100;

			@media screen and (max-width: 480px) {
				width: 100%;
			}

		}

		.left {

			// align-self: flex-start;
			// margin-right: 0.2rem;
			margin-bottom: 15rem;
			// margin-right: 2%;

			@media screen and (max-width: 480px) {
				margin-bottom: 3rem;
			}

		}

		.right {

			margin-top: 15rem;
			margin-left: auto;
			// align-self: flex-end;
			// margin-left: auto;

		}

    }

    &--full-width-image {

	    .mockup {

			$self: &;


			&__container {

				z-index: 100;
				text-align: center;

			}

		    &__image {

				margin: 0 auto;

				img { width: 100%; }

		    }

		}

    }

}

    .full-width {
		position: relative;
		z-index: 4000000;
		text-align: center; 

		img {
			width: 100%;
    		margin: 0 auto;
		}
    }

