.navbar {

	$self: &;

	position: absolute;
	top: 0;
	z-index: 101;
	width: 100%;

	&__container {

		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		padding: 3rem;
		pointer-events: auto;

		@media screen and (min-width: 767px) {
			padding: 5rem 4.5rem;
		}

	}

	&__logo {	

		display: block;
		font-family: $heeboMed;
		font-size: 1.7rem;
		line-height: 0;
		outline: none;
		opacity: 1;
		text-decoration: none;

	}

}

.overlay-menu {

	$self: &;
	
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 1);
    background-color: rgba(255,255,255, 1);
    overflow-y: hidden;
    transition: 0.5s;

	&__inner {

	    width: 100%;
	    max-width: 100%;
	    flex: 0 0 auto;
	    flex-basis: 100%;

	    a.close-menu {

			position: absolute;
			height: 6rem;
			width: 1.33333rem;
			line-height: 1;
			z-index: 1;
			font-size: 2rem;
			text-decoration: none;
			top: 0;
			text-align: right;
			cursor: pointer;
			display: flex;
			align-items: center;
			right: 3.3333333333333335rem;
			color: #888;

			&:hover {
				color: $black;
			}

	    }

	    .centered {

		    width: 100%;
		    text-align: center;
		    position: absolute;
		    transform: translate(0,-50%);
		    top: 50%;
		    line-height: 1;
		    left: 0;

			ul.menu-listings {

				max-width: 1230px;
				padding: 0 1.66667rem;
				flex-wrap: wrap;
				display: block;
				width: 100%;
				margin: 0 auto;

				a {

					left: inherit!important;
					right: inherit!important;

				}

				li.menu-item {

					margin: 0;
					padding: 0;
					font-weight: 400;
					font-style: normal;
					font-size: 0.8888888888888888rem;
					line-height: 1.5555555555556;
					list-style: none;

					a {

						font-weight: 400;
						font-style: normal;
						text-transform: none;
						width: 100%;
						display: inline-block;
						padding: .55556rem 0;
						padding-top: 0.66666666666667rem;
						padding-bottom: 0.66666666666667rem;

						span {

							font-size: 1.77778rem;
							color: #888;
							display: inline-block;
							position: relative;
							transition: none;
							-moz-transition: none;
							-webkit-transition: none;
							-o-transition: none;
							border-bottom-width: 0;
							border-bottom-style: solid;
							border-bottom-color: #000;
							font-size: 1.5555555555555556rem;
							transition: all .2s linear;
							-moz-transition: all .2s linear;
							-webkit-transition: all .2s linear;
							-o-transition: all .2s linear;

						}

					}

				}

				li.link-current a span {

					color: #fd433e;	

				}

			}

	    }

	}

}


	.accordion {

	color: #333;
	margin: 0 auto;
	cursor: pointer;
	padding: 18px;
	display: block;
	width: 30%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.5s;
	font-size: 1.25rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0rem;
	line-height: 1.5555555555556;
	background: transparent;
	color: #888;

	.active,
	&:hover {
		background-color: $white;
		background-color: whitesmoke;
		cursor: pointer;
		color: $black;
	}

	.fa-chevron-right {
		color: #888;
		position: relative;
		right: 0;
		top: 9px;
		line-height: 1;
		float: right;
		font-size: 14px;
		margin-left: 5px;
		vertical-align: middle;
	}

	.active > .fa-chevron-right,
	&:hover > .fa-chevron-right {
		color: $black;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		padding: 18px 20px;
	}

	.panel {

		width: 50%;
		margin: 0 auto;
		padding: 0 40px;
		background-color: transparent;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;

		$self: &;

		&__item {

			list-style: none;
			text-align: left;
			padding: 18px;
			transition: 0.5s;
			font-size: 1rem;
			font-weight: 400;
			font-style: normal;
			letter-spacing: 0rem;
			line-height: 1.5555555555556;

			a {

			text-decoration: none;
			color: $black;

			}

		}

	}

}

.site-header-button {
	cursor: pointer;
	position: relative;
	height: 30px;
	width: 32px;
	margin-top: -1px;
	margin-right: -6px;
	padding: 8px 6px;
	display: block;
	z-index: 60;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	pointer-events: all;
	outline: none;
	transition: -webkit-transform .6s cubic-bezier(.165,.84,.44,1);
	transition: transform .6s cubic-bezier(.165,.84,.44,1);
	transition: transform .6s cubic-bezier(.165,.84,.44,1),-webkit-transform .6s cubic-bezier(.165,.84,.44,1);
}

.u-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-header-button .button-bar {
    position: absolute;
    top: 50%;
    right: 6px;
    left: 6px;
    height: 2px;
    width: auto;
    margin-top: -1px;
    transition: opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1),-webkit-transform .6s cubic-bezier(.165,.84,.44,1);
    transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1);
    transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1),-webkit-transform .6s cubic-bezier(.165,.84,.44,1);
    background-color: $snuff;
}

.site-header-button .button-bar--1 {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.site-header-button .button-bar--2 {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(.8);
    transform: scaleX(.8);
}

.site-header .button-bar {
    background-color: gray;
}

.site-header-button .button-bar--3 {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}

.site-header-button:hover .button-bar--2 {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.case-header-back {
    position: absolute;
    top: 56px;
    right: 100px;
    font-family: Heebo,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
	font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
}

.case-header-back svg {
	width: 11px;
	height: 8px;
	margin-right: 15px;
	transition: 0.4s ease;
}

.case-header-back:hover > svg {
	margin-right: 20px;
	transition: 0.4s ease;
}




