$white: #FFFFFF;
$yikes: #EEEEEE;
$whitesmoke: #F5F5F5;
$tanned: #eff1f1;
$black: #333333;
$zero: #000000;
$black2: #111;
$black3: #2b3033;
$black4: #171717;
$red: #FD433E;
$grey: #808080;
$grey2: #444444;
$grey3: #cccccc;
$navy: #192735;
$slate: #1e2326;
$pink: #DF91AD;
$beige: #EAEAEA;
$slate: #1e2326;
$darkgrey: #252525;
$lightblack: #1B1B1B;
$grey-over-black: #888888;
$grey-over-white: #666666;
$smoke: #ececec;
$fate: #f8f8f8;
$pinkdawn: #f6f0ea;
$blah: #f9f8f4;
$lightbeige: #fcf9f5;
$peaches: #f7f0e9;
$hellbound: #131313;
$heavensgate: #e6e6ea;
$snuff: #9e9e9e;
$doldrums: rgba(3,13,38,.6);
$souleternal: #9194a8;
$blackmoon: #131313;