@import "reset";
@import "variables";
@import "fonts";
@import "project-grid";

body {

  background: $bg-color;
  color: $color;
  font-family: "akzidenz-grotesk-reg",sans-serif;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: .1em;

      width: 100%;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bg-global {
	$self: &;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 0;
	// z-index: 20;
	pointer-events: none;

	&__line {
		position: absolute;
		top: 0;
		height: 100vh;
		left: 16.666%;
		width: 1px;
		background: #000;
		opacity: 0.075;
		transition: 0.3s 0.5s;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -16.6666vw;
			// width: 16.666vw;
			width: 0;
			background: #000;
			height: 100%;
			transition: 0.5s cubic-bezier(0.81, 0.23, 0.05, 1);
		}

		&:nth-of-type(2) {
			left: 33.3333%;
		}

		&:nth-of-type(3) {
			left: 50%;
		}

		&:nth-of-type(4) {
			left: 66.666%;
		}

		&:nth-of-type(5) {
			left: 83.33%;
		}

		&:nth-of-type(6) {
			left: 100%;
		}
	}
}

.main-content {
  margin: auto;
  max-width: 1200px;
}

.responsive-image {
  max-width: 100%;
}